{{#extends "base"}}

{{#block content}}

<form action="" method="POST">
    <div> 
        <label for="">Title</label>
        <input type="text"name="title" id="form-control">

    </div>
     <div> 
        <label for="">Price</label>
        <input type="text"name="price" id="form-control">

    </div>
     <div> 
        <label for="">Payments</label>
        <input type="checkbox" name="title" id="form-control">

    </div>


</form>
{{/extend}}