{{#extends base}}

{{#title}} Animals {{/title}}

{{#content}}




<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th> Price</th>
            <th>Payment types</th>
            <th></th>
           </tr>
    </thead>


</table>
 {{/content}}

{{/extends }}